#include "roBa.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&default_transform {
    col-offset = <6>;
};

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH>
            , <&xiao_d 8 GPIO_ACTIVE_HIGH>
            , <&xiao_d 7 GPIO_ACTIVE_HIGH>
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            ;
};

/ {
    trackball_listener {
        status = "okay";
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                <NRF_PSEL(SPIM_MISO, 0, 4)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                <NRF_PSEL(SPIM_MISO, 0, 4)>;
            low-power-enable;
        };
    };
};

&xiao_serial { status = "disabled"; };

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    scroll-layers = <3>;
};

/ {
    combos {
        compatible = "zmk,combos";

        BT0 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <34 38 5>;
        };

        BT1 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <34 38 6>;
        };

        BT2 {
            bindings = <&bt BT_SEL 2>;
            key-positions = <34 38 7>;
        };
    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E         &kp R           &kp T                                      &kp Y      &kp U  &kp I     &kp O     &kp P
&kp A      &kp S         &kp D         &kp F           &kp G        &none          &none          &kp H      &kp J  &kp K     &kp L     &kp ENTER
&kp Z      &kp X         &kp C         &kp V           &kp B        &none          &none          &kp N      &kp M  &mkp MB1  &mkp MB2  &mo 3
&kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &kp LEFT_SHIFT  &lt 1 SPACE  &lt 2 TAB      &kp BACKSPACE  &kp LCTRL                             &none
            >;
            sensor-bindings = <&encoder_msc_down_up>, <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        NUM {
            bindings = <
&kp N1      &kp N2        &kp N3        &kp N4          &kp N5                                       &kp N6      &kp N7   &kp N8     &kp N9     &kp N0
&none       &none         &kp UP        &kp GRAVE       &kp BACKSLASH  &none          &none          &kp SEMI    &kp SQT  &kp MINUS  &kp EQUAL  &kp ENTER
&kp ESCAPE  &kt LEFT      &kp DOWN      &kp RIGHT       &kp SLASH      &none          &none          &kp COMMA   &kp DOT  &kp LBKT   &kp RBKT   &mo 3
&kp LCTRL   &kp LEFT_ALT  &kp LEFT_WIN  &kp LEFT_SHIFT  &lt 1 SPACE    &lt 2 TAB      &kp BACKSPACE  &kp LSHIFT                                 &none
            >;
            sensor-bindings = <&encoder_msc_down_up>, <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        SHIFT_NUM {
            bindings = <
&kp LS(N1)  &kp LS(N2)    &kp LS(N3)     &kp LS(N4)      &kp LS(N5)                                 &kp LS(N6)     &kp LS(N7)   &kp LS(N8)     &kp LS(N9)     &kp LS(N0)
&none       &none         &kp PAGE_DOWN  &kp LS(GRAVE)   &kp LS(BACKSLASH)  &none          &none    &kp LS(SEMI)   &kp LS(SQT)  &kp LS(MINUS)  &kp LS(EQUAL)  &kp ENTER
&kp ESC     &kp HOME      &kp PAGE_DOWN  &kp END         &kp LS(SLASH)      &none          &none    &kp LS(COMMA)  &kp LS(DOT)  &kp LS(LBKT)   &kp LS(RBKT)   &mo 3
&kp LCTRL   &kp LEFT_ALT  &kp LEFT_WIN   &kp LEFT_SHIFT  &lt 1 SPACE        &lt 2 TAB      &kp DEL  &kp LSHIFT                                                &none
            >;
            sensor-bindings = <&encoder_msc_down_up>, <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        ARROW {
            bindings = <
&kp F1     &kp F2                  &kp F3        &kp F4                   &kp F5                               &kp F6    &kp F7    &kp F8    &kp F9    &kp F10
&none      &none                   &none         &none                    &none        &none          &none    &none     &none     &none     &kp F11   &kp F12
&kp ESC    &kp LC(LG(LEFT_ARROW))  &kp LG(TAB)   &kp LC(LG(RIGHT_ARROW))  &none        &none          &none    &none     &mkp MB5  &mkp MB1  &mkp MB2  &mo 3
&kp LCTRL  &kp LEFT_ALT            &kp LEFT_WIN  &kp LEFT_SHIFT           &lt 1 SPACE  &lt 2 TAB      &kp DEL  &mkp MB4                                &none
            >;
            sensor-bindings = <&encoder_msc_down_up>, <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };
    };
};

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,physical-layout = &roba_physical_layout;
    };

    roba_physical_layout: roba_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys
            = <&key_physical_attrs 100 100    0   37       0     0     0>
            , <&key_physical_attrs 100 100  100   12       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   12       0     0     0>
            , <&key_physical_attrs 100 100  400   24       0     0     0>

            , <&key_physical_attrs 100 100  800   24       0     0     0>
            , <&key_physical_attrs 100 100  900   12       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100   12       0     0     0>
            , <&key_physical_attrs 100 100 1200   37       0     0     0>

            , <&key_physical_attrs 100 100    0  137       0     0     0>
            , <&key_physical_attrs 100 100  100  112       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  112       0     0     0>
            , <&key_physical_attrs 100 100  400  124       0     0     0>
            , <&key_physical_attrs 100 100  500  137       0     0     0>

            , <&key_physical_attrs 100 100  700  137       0     0     0>
            , <&key_physical_attrs 100 100  800  124       0     0     0>
            , <&key_physical_attrs 100 100  900  112       0     0     0>
            , <&key_physical_attrs 100 100 1000  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  112       0     0     0>
            , <&key_physical_attrs 100 100 1200  137       0     0     0>

            , <&key_physical_attrs 100 100    0  237       0     0     0>
            , <&key_physical_attrs 100 100  100  212       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  212       0     0     0>
            , <&key_physical_attrs 100 100  400  224       0     0     0>
            , <&key_physical_attrs 100 100  500  237       0     0     0>

            , <&key_physical_attrs 100 100  700  237       0     0     0>
            , <&key_physical_attrs 100 100  800  224       0     0     0>
            , <&key_physical_attrs 100 100  900  212       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  212       0     0     0>
            , <&key_physical_attrs 100 100 1200  237       0     0     0>

            , <&key_physical_attrs 100 100    0  337       0     0     0>
            , <&key_physical_attrs 100 100  100  312       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  325  337       0     0     0>
            , <&key_physical_attrs 100 100  437  350    1000   437   350>
            , <&key_physical_attrs 100 100  550  387    2000   550   387>

            , <&key_physical_attrs 100 100  650  387 (-2000)   650   387>
            , <&key_physical_attrs 100 100  763  350 (-1000)     0   350>

            , <&key_physical_attrs 100 100 1200  337       0     0     0>

            ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <11>;
        rows = <4>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)                     RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)     RC(3,6) RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)     RC(3,7) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)     RC(3,8) RC(3,9)                         RC(3,10)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";
            row-gpios
                = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                , <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                ;
    };

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <24>;
        status = "disabled";
    };

    right_encoder: encoder_right {
        status = "disabled";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <10>;
    };

    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
    };
};

&spi0 {
    status = "disabled";

    trackball: trackball@0 {
        status = "disabled";
        reg = <0>;
    };
};
